<h1>Links should not be made relative</h1>

<p>
  <a href="/static/non-relative.html">/test</a>
  <img src="/static/non-relative.html">
  <form action="/static/non-relative.html">
    Form
  </form>
</p>