<h1>Partials in document</h1>

<h2>ERB</h2>
<%= partial "test/erb", :locals => {:value => "value"} %>

<h2>MD</h2>
<%= partial "test/markdown" %>

<h2>Mockup</h2>
<%= partial "test/mockup", :locals => {:value => "value"} %>
